/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "Bitsumishi";
  src: url("./fonts/bitsumishi.eot"); /* IE9 Compat Modes */
  src: url("./fonts/bitsumishi.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/bitsumishi.otf") format("opentype"), /* Open Type Font */
    url("./fonts/bitsumishi.svg") format("svg"), /* Legacy iOS */
    url("./fonts/bitsumishi.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/bitsumishi.woff") format("woff"), /* Modern Browsers */
    url("./fonts/bitsumishi.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}